.registro-section {
  background-color: var(--color-morado);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  height: 100vh;
}

.registroInicioSesion-form {
    text-align: center;
    padding: 1rem;
    max-width: 100%;
}

.registro-login-title {
  color: white;
  font-size: 4rem;
}

.link-to-logIn {
  color: white;
  margin-bottom: 2rem;
}

.link-to-logIn:hover {
  color: var(--color-rosa);
  margin-bottom: 2rem;
}

#cambioDeRegistro-InicioSesion-mobile {
  display: none;
}

.imagen-gato {
  width: 19rem;
}
.gatitofoto-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 11px;
  .profile-picture {
    background-color: white;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      
      object-fit:cover; /* Hace que la imagen cubra todo el contenedor */
    }
  }
  .icono-editar-foto {
    border-radius: 100px;
    width: 30px;
    height: auto;
    position: relative;
    right: 20px;
    top: 50px;
  }
  .icono-editar-foto:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 35px;
    height: auto;
  }
}

.loading {
  margin-top: 42%;
}

.registrarse-container {
  width: 35%;

  .titulo-registrarse {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}

.gatitofoto {
  background-color: var(--color-morado);
}

@media screen and (max-width: 950px) {
  .registro-section {
    padding-top: 2rem;
    flex-direction: column;
    padding-bottom: 5rem;
    height: auto;
  }

  .registro-login-title {
    font-size: 2rem;
  }

  #cambioDeRegistro-InicioSesion {
    display: none;
  }
  #cambioDeRegistro-InicioSesion-mobile {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .profile-picture-container {
    .profile-picture {
      margin-top: 0%;
    }
  }

  .imagen-gato {
    width: 5rem;
  }
  .gatitofoto-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .lineas {
    display: none;
  }

  .registrarse-container {
    width: 90%;

    .titulo-registrarse {
      margin-top: 1rem;
      margin-bottom: 0rem;
    }
  }

  .gatitofoto {
    background-color: var(--color-morado);
  }
}

@media screen and (max-width: 460px) {
  .registro-section {
    padding-top: 2rem;
    flex-direction: column;
    padding-bottom: 5rem;
    height: auto;
  }

  .registro-login-title {
    font-size: 1.5rem;
  }

  #cambioDeRegistro-InicioSesion {
    display: none;
  }
  #cambioDeRegistro-InicioSesion-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-picture-container {
    .profile-picture {
      margin-top: 0%;
    }
  }

  .imagen-gato {
    width: 4rem;
    position: relative;
    bottom: 10px;
  }
  .gatitofoto-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .lineas {
    display: none;
  }

  .registrarse-container {
    width: 90%;

    .titulo-registrarse {
      margin-top: 1rem;
      margin-bottom: 0rem;
    }
  }

  .gatitofoto {
    background-color: var(--color-morado);
  }
}
